Package: us.kid1car.ondisplay
Name: onDISPLAY
Version: 1.4
Section: Themes
Architecture: iphoneos-arm
Author: @kid1carus1 <kid1carus.1mages@gmail.com>
Maintainer: @kid1carus1 <kid1carus.1mages@gmail.com>
Description: Modern skeuomorphic icons set prominently on display on your home screen.  Each meticulously designed icon with its own individual shelf.
Icon: file:///Library/Themes/onDISPLAY.theme/themeicon.png
